/* Grant Sneor */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* begin CSS */

:root{
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
}
.molle-regular-italic {
    font-family: "Molle", cursive;
    font-weight: 400;
    font-style: italic;
  }
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#skip{
    background: #e77e23;
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
  }
  
#skip:focus{
    transform: translateY(0%);
  }

header{
    background-image: linear-gradient(var(--teal), var(--white));

}
header p{
    font-size: 1.5em;
}
nav{
    font-family: "Montserrat", sans-serif, helvetica;
}
nav a{
    text-decoration: none;
    color: var(--black);
}
h1{
    font-family: "Molle", cursive, sans-serif;
    font-size: 4em;
    margin-left: 30px;
}
h2{
    font-family: "Molle", cursive, sans-serif;
    font-size: 3em;
    margin-left: 30px;
}
h3{
    font-family: "Molle", cursive, sans-serif;
    font-size: 2.5em;
    margin-left: 30px;
}
h4{
    font-family: "Montserrat", sans-serif, helvetica;
    font-size: 1.5em;
    margin-left: 30px;
}
p{
    font-family: "Montserrat", sans-serif, helvetica;
    margin-left: 30px;
    line-height: 1.6;
}
q{
    font-family: "Montserrat", sans-serif, helvetica;
    margin-left: 30px;
}
small{
    font-family: "Montserrat", sans-serif, helvetica;
}
button{
    font-family: "Montserrat", sans-serif, helvetica;
}
form{
    font-family: "Montserrat", sans-serif, helvetica;
}
#img-grid{
    margin-top: 15px;
    margin-bottom: 15px;
}
#img-grid img{
    width: 100%;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}
#plan{
    background-color: var(--yellow);
}
#plan h3{
    padding-top: 15px;
}
#plan div{
    padding: 10px;
}
#plan section{
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--teal);
    border: 7.5px solid var(--white);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}
#plan img{
    display: grid;
    padding: 10px;
    margin: auto;
    align-items: center;
}
#plan h4{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}
#testimonials{
    margin-top: 15px;
    margin-bottom: 15px;
}
#about{
    background-color: var(--blue);
    margin-top: 15px;
    margin-bottom: 15px;
}
#about h3{
    padding-top: 15px;
}
#about h4{
    margin: auto;
    text-transform: uppercase;
    font-weight: 600;
}
#about p{
    text-align: center;
}
#about div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    padding: 50px;
}
#about section{
    display: grid;
    align-items: center;
    margin-bottom:15px;
}
